apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: resume-builder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image:  soumya118/resume-builder-server:1.3
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: server-config
            - secretRef:
                name: resume-server-secret
---
# apiVersion: v1
# kind: Service
# metadata:
#   name: server
#   namespace: resume-builder
# spec:
#   type: LoadBalancer
#   selector:
#     app: server
#   ports:
#     - port: 3001
#       targetPort: 3001
      #nodePort: 32000

apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: resume-builder
spec:                           #kubectl port-forward -n resume-builder svc/server 3001:3001  then url is http://localhost:3001/
  type: ClusterIP
  selector:
    app: server
  ports:
    - port: 3001
      targetPort: 3001