.index{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to left,  #e7f6f7 100%, transparent);
}
.left{
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
}
/* .left-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #062222;
    font-size: 2rem;
    font-weight: bold;
    cursor: default;
} */
.left-1 {
    display: inline-block;
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #062222;
    border-right: 2px solid #062222;
    white-space: nowrap;
    overflow: hidden;
    width: 0ch;
    animation: typing 4s steps(44) infinite alternate-reverse;
    cursor: default;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 44ch;
    }
}
@media (max-width: 1350px) {
    .left-1 {
        display: flex;
        animation: none;
        width: 100%;
        border-right: none;
        white-space: wrap;
        overflow:visible;
    }
}
.left1B{
    margin-top: 3rem;
}
.frontpage-1st-button{
    margin-top: 3rem;
}

.left-button {
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(254, 254, 255);
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-out;
    will-change: transform;
    transform-origin: center;
}

.left-button:hover {
    background-color: #16baba;
    transform: scale(1.02);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 500px) {
    .left-button:hover {
      transform: scale(1); /* Reset to no scaling */
    }
    .left1B{
        margin-top: 1rem;
    }
    .frontpage-1st-button{
        margin-top: 1rem;
    }
}
.left1B {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}
.left-2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#062222;
    font-size: 1.3rem;
    font-weight: 400;
    flex-wrap: wrap;
}
.left3{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    flex-wrap: wrap;
}
.left-31,.left-32{
    padding: .5rem;
    width: 10rem;
    border-radius: 1.2rem;
    background-color:rgba(184, 249, 249, 0.568);
}
.left-311{
    font-weight: bolder;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-img img {
    width: 100%;
    max-width: 550px; 
    height: auto;
    object-fit: cover; 
    border-radius: 8px; 
  }

@media (max-width: 768px) {
    .index {
        flex-direction: column;
        justify-content: center;
    }
    .left {
        width: 100%;
        border-right: none;
        margin-bottom: 2rem;
    }
    .right {
        width: 100%;
    }
    .left-1 {
        font-size: 1.5rem;
    }
    .left-2 {
        font-size: 1.1rem;
    }
    .left-31, .left-32 {
        width: 90%;
    }
    .left1B{
        margin-top: 1rem;
    }
    .frontpage-1st-button{
        margin-top: 1.5rem;
    }
}
@media (max-width: 1300px) {
    .left1B{
        margin-top: 1rem;
    }
    .frontpage-1st-button{
        margin-top: 1.5rem;
    }
}
 /* 2nd part */
.love{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background: linear-gradient(to right, #4bccef, #51e2c2); */
    color: #062222;
}
.love-H{
margin-top: 1rem;
}
.love-tree{
    display: flex;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    color: #081813;
    touch-action: manipulation;
}
.love-1,.love-2,.love-3{
    /* border: 2px solid black; */
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
    transition: transform .2s ease-out;
    will-change: transform;
    transform-origin: center;
}
.love-1:hover,.love-2:hover,.love-3:hover{
    transform: scale(1.03);
    font-weight: 600;
}
@media screen and (max-width: 500px) {
    .love-1:hover,
    .love-2:hover,
    .love-3:hover {
      transform: scale(1); /* Reset to no scaling */
    }
}
.love-1H,.love-2H,.love-3H{
    font-size: larger;
}
.love-3 p,.love-1 p,.love-2 p {
    font-size: large;
    font-weight: 400;
}

.love-button12{
    display: inline;
    text-decoration: none; 
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(254, 254, 255);
    background-color: rgb(14, 179, 188);
    padding: 0.5rem 1rem; 
    margin-top: 1.2rem; 
    cursor: pointer; 
    transform: scale(1);
    transition: transform .2s ease-out;
    will-change: transform;
    transform-origin: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
.love-button12:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
@media screen and (max-width: 500px) {
    .love-button12:hover {
      transform: scale(1); /* Reset to no scaling */
    }
}
@media (max-width: 750px){
.love-tree{
    /* display: flex; */
    flex-direction: column;
    /* background: linear-gradient(to right, #4bccef, #51e2c2); */
    padding: 1.3rem;
    font-size: 1rem;
}
.love-1,.love-2,.love-3{
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}
}

/* 3rd part */
.partner-customer{
    margin-top: .5rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.partner-customer.visible{
    opacity: 1;
    transform: translateY(0);
}
.partner-customer{
    display: flex;
    justify-content:center;
    gap: 10rem;
}
.partners-h1,.customers-h1{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
}
.partner-img{
    display: flex;
    align-items: center;
    gap:2rem;
}
.partner-img1 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}
.partner-img2 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}
.partner-img3 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}

.customer,.partners{
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
}

.customer-img{
    display: flex;
    align-items: center;
    gap:2rem;
}
.customer-img1 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}
.customer-img2 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}
.customer-img3 img{
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
}
