.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e3442;
    color: white;
    padding: 8px 22px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 80px;
    margin-right: 3rem;
  }
  
  .nav-links li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3rem;
  }
  .nav-links li a:hover {
    color: rgb(202, 187, 248);
  }

  /* Mobile Menu */
  .mobile-menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }
  
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #32d5b7;
    /* color: black; */
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
  }
  .nav-links-mobile li a:hover{
    color: rgb(255, 255, 255);
  }
  .nav-links-mobile li {
    margin: 10px 0;
  }
  .nav-links-mobile li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
  }
  .user-photo {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    object-fit: cover;
  }

  .user-photo-container {
    position: relative;
    display: inline-block;
    text-align: center; /* Center align contents inside */
  }
  
  .logout-button {
    display: none;
    position: absolute;
    top: 100%; /* Push slightly below the photo */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgb(58, 142, 202);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    z-index: 10;
  }

  .user-photo-container:hover .logout-button {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  }