.Newpassword_main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    background-color: rgb(234, 252, 253);
}
.Newpassword_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    height: 17rem;
    width: 15rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
}
.Newpassword_heading{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.New_password_input1{
    margin-bottom: 1.5rem;
}
.New_password_input2{
    margin-bottom: 2.5rem;
}
.New_password_input11,.New_password_input21{
    font-size: large;
    font-weight: 400;
}
.New_password_input13,.New_password_input23{
    padding: 0.5rem;
}
.New_password_button2{
    padding: 0.6rem;
    background-color: rgb(59, 206, 206);
    font-size: medium;
    font-weight: 600;
    color: white;
    border: none;
}
.New_password_button2:hover{
    background-color: rgb(53, 190, 190);
}

@media (max-width:650px) {
    .Newpassword_main {
        padding: 5rem;
    }
}
@media (max-width:500px) {
    .Newpassword_main {
        padding: 4rem;
    }
}
@media (max-width:450px) {
    .Newpassword_main {
        padding: 3rem;
    }
}
@media (max-width:400px) {
    .Newpassword_main {
        padding: 2rem;
    }
    .Newpassword_2 {
        padding: 2rem;
    }
    .New_password_input2 {
        margin-bottom: 1.8rem;
    }
}
@media (max-width:350px) {
    .Newpassword_main {
        padding: 1rem;
    }
    .Newpassword_2 {
        padding: .8rem;
    }
    .New_password_input2 {
        margin-bottom: 1.5rem;
    }
    .Newpassword_heading{
        margin-bottom: 1.5rem;
    }
    .New_password_input1 {
        margin-bottom: 1rem;
    }
}
@media (max-width:300px) {
    .Newpassword_main {
        padding: .5rem;
    }
    .Newpassword_2 {
        padding: .3rem;
    }
    .New_password_input2 {
        margin-bottom: 1rem;
    }
    .Newpassword_heading{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .New_password_input1 {
        margin-bottom: .6rem;
    }
}
