.a1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.a2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 2rem;
  height: 35rem;
  width: 23rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.back-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.a3{
  margin-top: .5rem;
}
.e1, .p1 {
  display: flex;
  padding: 1rem;
  width: 12rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to left, rgba(129, 145, 147, 0.7), rgb(196, 198, 198));
  outline: none;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}
 #e11{
  margin-bottom: 1.2rem;
 }
.e1:focus, .p1:focus {
  border-color: rgb(84, 169, 255);
  background: white;
}

.signbutton {
  display: flex;
  justify-content: center;
}
.signbutton2 {
  border: none;
  padding: 0.8rem;
  background-image: linear-gradient(to left, rgb(84, 169, 255), rgba(139, 225, 246, 0.7));
  border-radius: 1rem;
  width: 10rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.signbutton2:hover {
  background-image: linear-gradient(to left, rgb(40, 140, 240), rgba(139, 225, 246, 1));
  transform: scale(1.05);
}
.Or {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: bold;
  color: gray;
}
.e1_head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sign_OTP{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.e1_send_otp{
  margin-top: 0.5rem;
}
.e1_send_otp_button,.p1_verify_button{
  border: none;
  color: rgb(43, 183, 183);
  background-color: white;
  font-size: medium;
}
.e1_send_otp_button:hover,.p1_verify_button:hover{
  color: rgb(34, 148, 148);
}
.otp-input2{
  margin-bottom: 0.4rem;
  height: 30px;
  margin-inline: .5rem;
  font-size: 25px;
}


/* Mobile Responsive */
 @media (max-width: 400px) {
  .a2{
    padding: 0.5rem;
    height: 37.5rem;
    width: 22rem;
  }
  .Sign_OTP{
    flex-direction: column;
    line-height: 2rem;
  }
  .signbutton2 {
    width: 8rem;
  }
}
 @media (max-width: 380px) {
  .a2{
    padding: 0rem;
    height: 37rem;
    width: 20.5rem;
  }
}
