/* .template-editor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 30px;
    flex-wrap: wrap;
}

.form-sectionxyzxyz {
    flex: 1;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 600px;
}

.preview-sectionxyzxyz {
    flex: 1;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    min-width: 300px;
    max-width: 400px;
    overflow-y: auto;
} */